<div style="max-width: 45em; margin-left: auto; margin-right: auto">
  <h4>Templates</h4>
  <p>
    When starting a programming project, there are a certain number of things
    that need to be done. One should for example make the project structure,
    write licensing files, make Coding files... It can save a lot of time to
    just use a template, instead of starting anew.
    <span style="font-style: italic">Cookiecutter</span>
    is a tool that lets you make "cookiecutters", i.e. project templates.
  </p>
  <p>
    There are also Github template repositories, which offer a similar service
    to cookiecutters. What makes this service interesting is the fact that your
    new project is from the very beginning hosted on the platform.
  </p>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a href="https://github.com/cookiecutter/cookiecutter">
        https://github.com/cookiecutter/cookiecutter
      </a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em">
        -- Tool "that creates projects from cookiecutters (project templates)"
      </span>
    </div>
  </div>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a href="https://github.com/cookiejar/cookietemple">
        https://github.com/cookiejar/cookietemple
      </a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em">
        -- Tool that makes cookiecutters from a chosen repository
      </span>
    </div>
  </div>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a href=" https://www.ssc.uni-heidelberg.de/en/learning/coding-templates">
        https://www.ssc.uni-heidelberg.de/en/learning/coding-templates
      </a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em">
        -- GitHub and Cookiecutter templates for Python, C++ and Fortran
      </span>
      <span>provided by the University of Heidelberg</span>
    </div>
  </div>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a href="https://gpt.uni-muenster.de/">https://gpt.uni-muenster.de/</a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em; font-weight: bolder">
        -- LLM chatbots offered by the University of Münster running on in-house
        hardware
      </span>
      <span>
        It offers various LLMs, including OpenAI, Gemini and Claude models
        externally
      </span>
    </div>
  </div>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a href="https://chat-ai.academiccloud.de/">
        https://chat-ai.academiccloud.de/
      </a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em; font-weight: bolder">
        -- LLM chatbots offered by the GWDG (the IT center of the University of
        Göttingen and the Max Planck Society) running on in-house hardware
      </span>
      <span>
        To access it, you should click Föderierte Anmeldung/ Federated Login and
        choose the University of Münster.
      </span>
      <span>It offers various LLMs, including OpenAI externally</span>
    </div>
  </div>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a href="https://github.com/features/copilot/">
        https://github.com/features/copilot/
      </a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em">-- GitHub Copilot</span>
      <span>GitHub offers a free plan for students</span>
      <a href="https://education.github.com/discount_requests/application">
        https://education.github.com/discount_requests/application
      </a>
    </div>
  </div>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a href="https://chat.openai.com/">https://chat.openai.com/</a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em">
        -- OpenAI ChatGPT: a free LLM Chatbot
      </span>
      <span>Better LLMs are offered for subscribers.</span>
    </div>
  </div>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a href="https://copilot.microsoft.com/">
        https://copilot.microsoft.com/
      </a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em">
        -- Microsoft Copilot: A free LLM Chatbot by Microsoft
      </span>
      <span>Copilot Pro is offered for subscribers.</span>
    </div>
  </div>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a href="https://openai.com/blog/openai-codex">
        https://openai.com/blog/openai-codex
      </a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em">
        -- OpenAI Codex: OpenAI's LLM for developers
      </span>
      <span>It is the core of GitHub Copilot</span>
      <span>It is a paid service</span>
    </div>
  </div>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a href="https://platform.openai.com/docs/guides/prompt-engineering">
        https://platform.openai.com/docs/guides/prompt-engineering
      </a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em">
        -- OpenAI Text Guide on Prompt Engineering
      </span>
    </div>
  </div>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a href="https://learn.deeplearning.ai/courses/chatgpt-prompt-eng/">
        https://learn.deeplearning.ai/courses/chatgpt-prompt-eng/
      </a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em">
        -- OpenAI Video Course on Prompt Engineering for developers
      </span>
      <span>
        Here, the OpenAI model is used directly in an online jupyter-notebook.
        To set the OpenAI API locally, use the tutorial below
      </span>
    </div>
  </div>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a href="https://platform.openai.com/docs/quickstart?context=python">
        https://platform.openai.com/docs/quickstart?context=python
      </a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em">
        -- Tutorial for setting the OpenAI API on your local python interpreter.
      </span>
    </div>
  </div>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a href="https://github.com/mudler/LocalAI">
        https://github.com/mudler/LocalAI
      </a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em">
        -- Run LLMs locally using a docker container
      </span>
      <span>It requires a powerful computer</span>
      <span>
        It could also run on the Kubernetes cluster of the University of Münster
        if you have access to a project in it.
      </span>
      <span>
        Below, you can request a new project if you are part of a research team
        in Münster.
      </span>
      <a
        href="https://cloud.uni-muenster.de/docs/kubernetes/project_request_form/"
      >
        https://cloud.uni-muenster.de/docs/kubernetes/project_request_form/
      </a>
    </div>
  </div>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a href="https://huggingface.co/">https://huggingface.co/</a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em">
        -- Hugging Face: a platform offering free models and datasets
      </span>
      <span>In the Spaces section, you can test many models online</span>
      <a href="https://huggingface.co/spaces">https://huggingface.co/spaces</a>
    </div>
  </div>
  <div style="padding-left: 1em">
    <div style="text-indent: -1em; padding-left: 1em">
      <a
        href="https://confluence.uni-muenster.de/display/eScienceWWU/KI+in+Lehre+und+Forschung"
      >
        https://confluence.uni-muenster.de/display/eScienceWWU/KI+in+Lehre+und+Forschung
      </a>
    </div>
    <div style="padding-left: 2em; display: flex; flex-direction: column">
      <span style="text-indent: -1em">
        -- List of AI ressources offered by the University of Münster (in
        German)
      </span>
    </div>
  </div>
</div>
